# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Pytest cache
.pytest_cache/

# Pylint cache
.pylint.d/

# Coverage reports
.coverage
htmlcov/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# mypy cache
.mypy_cache/

# Temporary files
*.tmp
*.swp